aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aiosqlite==0.22.1
alembic==1.18.2
altair==5.5.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
appnope==0.1.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
async-lru==2.1.0
attrs==26.1.0
audioop-lts==0.2.2
babel==2.17.0
banks==2.3.0
beautifulsoup4==4.13.4
bleach==6.3.0
bs4==0.0.2
certifi==2026.2.25
certipy==0.2.2
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
colorama==0.4.6
comm==0.2.3
contourpy==1.3.3
cryptography==46.0.6
cycler==0.12.1
dashscope==1.25.15
dataclasses-json==0.6.7
datasets==4.5.0
debugpy==1.8.19
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.4.0
dirtyjson==1.0.8
distro==1.9.0
dotenv==0.9.9
eval_type_backport==0.3.1
evaluate==0.4.6
executing==2.2.1
faiss-cpu==1.13.2
fastapi==0.135.2
fastjsonschema==2.21.2
ffmpy==1.0.0
filelock==3.25.2
filetype==1.2.0
flatbuffers==25.12.19
fonttools==4.61.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2026.3.0
gensim==4.4.0
google-ai-generativelanguage==0.6.15
google-api-core==2.30.0
google-api-python-client==2.193.0
google-auth==2.49.1
google-auth-httplib2==0.3.0
google-generativeai==0.8.6
google_search_results==2.4.2
googleapis-common-protos==1.73.0
gradio==5.23.1
gradio_client==1.8.0
greenlet==3.3.1
griffe==1.15.0
groovy==0.1.2
grpcio==1.78.0
grpcio-status==1.71.2
h11==0.16.0
hf-xet==1.4.2
html2text==2025.4.15
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.8.0
idna==3.11
importlib_resources==6.5.2
ipykernel==7.1.0
ipython==9.9.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
jiter==0.13.0
joblib==1.5.3
json5==0.14.0
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterhub==5.4.3
jupyterlab==4.5.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kiwisolver==1.4.9
langchain==1.2.7
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.8
langchain-text-splitters==1.1.0
langgraph==1.0.7
langgraph-checkpoint==4.0.0
langgraph-prebuilt==1.0.7
langgraph-sdk==0.3.3
langsmith==0.6.6
lark==1.3.1
llama-cloud==0.1.35
llama-cloud-services==0.6.54
llama-index==0.14.13
llama-index-cli==0.5.3
llama-index-core==0.14.13
llama-index-embeddings-dashscope==0.5.0
llama-index-embeddings-openai==0.5.1
llama-index-indices-managed-llama-cloud==0.9.4
llama-index-instrumentation==0.4.2
llama-index-llms-dashscope==0.5.2
llama-index-llms-openai==0.6.18
llama-index-readers-file==0.5.6
llama-index-readers-llama-parse==0.5.1
llama-index-workflows==2.13.1
llama-parse==0.6.54
lxml==6.0.2
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.8
matplotlib-inline==0.2.1
mcp==1.12.4
mdurl==0.1.2
mistune==3.2.0
modelscope==1.34.0
modelscope_studio==1.1.7
mpmath==1.3.0
multidict==6.7.1
multiprocess==0.70.18
mypy_extensions==1.1.0
mysql-connector-python==9.6.0
narwhals==2.18.1
nbclient==0.10.4
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.6.1
nltk==3.9.2
notebook==7.5.3
notebook_shim==0.2.4
numpy==2.4.3
oauthlib==3.3.1
onnxruntime==1.24.4
openai==2.30.0
opencv-python==4.13.0.92
orjson==3.11.7
ormsgpack==1.12.2
packaging==26.0
pamela==1.2.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
pdfminer.six==20251230
pdfplumber==0.11.9
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.5.1
polars==1.39.0
polars-runtime-32==1.39.0
prometheus_client==0.24.1
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.27.1
protobuf==5.29.6
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==23.0.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pyclipper==1.4.0
pycparser==3.0
pydantic==2.9.2
pydantic-settings==2.12.0
pydantic_core==2.23.4
pydub==0.25.1
Pygments==2.19.2
PyJWT==2.12.1
PyMuPDF==1.27.2.2
PyMySQL==1.1.2
pyparsing==3.3.2
pypdf==6.6.2
PyPDF2==3.0.1
pypdfium2==5.5.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.18.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
python-json-logger==4.0.0
python-multipart==0.0.22
python-pptx==1.0.2
pytz==2026.1.post1
PyYAML==6.0.3
pyzmq==27.1.0
qwen-agent==0.0.34
rank-bm25==0.2.2
rapidocr-onnxruntime==1.2.3
referencing==0.37.0
regex==2026.2.28
requests==2.33.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.3.3
rpds-py==0.30.0
ruff==0.15.8
safehttpx==0.1.7
safetensors==0.7.0
scikit-learn==1.6.1
scipy==1.17.1
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==2.1.0
serpapi==0.1.5
setuptools==80.10.2
shapely==2.1.2
shellingham==1.5.4
simplejson==3.20.1
six==1.17.0
smart_open==7.5.1
sniffio==1.3.1
snowballstemmer==3.0.1
soundfile==0.13.1
soupsieve==2.7
SQLAlchemy==2.0.46
sse-starlette==3.3.3
stack-data==0.6.3
starlette==0.52.1
striprtf==0.0.26
sympy==1.14.0
tabulate==0.10.0
tenacity==9.1.2
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.12.0
tinycss2==1.4.0
tokenizers==0.22.2
tomlkit==0.13.3
torch==2.10.0
torchvision==0.25.0
tornado==6.5.4
tqdm==4.67.3
traitlets==5.14.3
transformers==5.1.0
tushare==1.4.23
typer==0.24.1
typer-slim==0.21.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
ultralytics==8.4.22
ultralytics-thop==2.0.18
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.6.3
uuid_utils==0.14.0
uv==0.11.2
uvicorn==0.42.0
wcwidth==0.5.0
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
widgetsnbextension==4.0.15
wrapt==1.17.3
xlsxwriter==3.2.9
xxhash==3.6.0
yarl==1.23.0
zstandard==0.25.0
